language: php

php:
    - 5.5

env:
  - SYMFONY_VERSION=~2.5.0
  - SYMFONY_VERSION=dev-master

before_script:
  - composer self-update
  - composer require symfony/form:${SYMFONY_VERSION} --prefer-source

script: phpunit --coverage-text
